# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
/db.sqlite3
/media/
/staticfiles/

# Environments
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Large/local models
my_ocr_model/
trocr_iiit5k_word/
